<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Journal app</title>
</head>

<body>
    <header id="title">
        <div class="title">
            Travel Journal
        </div>
        <button class="add-trip" type="submit">+ add trip</button>
    </header>
    <section id="top-illust">
        <img src="" id="topimg">
    </section>

    <section id="form">
        <form action="" method="get" id="entry-form">
            <div class="form-location">
                <label for="location">My trip to: </label>
                <input type="text" id="location" name="location" placeholder="enter location" required>
            </div>

            <div class="form-date">
                <label for="date">Departing: </label>
                <input type="date" id="date" name="deperture-date" required>
            </div>
            <button type="submit" id="form-submit" name value="Save your trip!">Save your trip</button>
        </form>
    </section>

    <div class="my-trips">
        <h2>My Trips: </h2>
    </div>

    <section id="entry">
        <div class="entry-container">
            <div class="entry-img">
                <img src="https://source.unsplash.com/random/200x200" alt="img" width="300px">
            </div>
            <div class="entry-text">
                <div class="title-entry">
                    <div class="a">
                        <p>My trip to: </p>
                        <div id="place">
                            <p>Paris</p>
                        </div>
                    </div>
                    <div class="b">
                        <p>Departing: </p>
                        <div id="date">
                            <p>XXXX.XX.XX</p>
                        </div>
                    </div>
                </div>

                <div class="c">
                    <div class="title-entry-two">flight info:
                    </div>
                    <div id="flight info">
                        <p>HND 03:00PM
                            <br>Flight707 AAA AIR</p>
                        <p>HND 03:00PM
                            <br>Flight707 AAA AIR</p>
                    </div>
                </div>

                <div class="d">
                    <button class="save-trip">save trip</button>
                    <button class="remove-trip">remove trip</button>
                </div>

                <div class="e">
                    <div class="location"></div> is
                    <div class="count-days"></div> days away
                </div>

                <div class="f">
                    <div class="title-entry-two">Typical weather for then is: </div>
                    <div id="weather">
                        <p>Mostly cloudy</p>
                        <p>High 33c, Low 10c</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <a href="#title">To top</a>
    </footer>
</body>

</html>