<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Journal app</title>
</head>

<body>
    <header id="title">
        <div class="title">
            Travel Journal
        </div>
        <button class="add-trip" type="submit">+ add trip</button>
    </header>
    <section id="top-illust">
        <img src="" id="topimg">
    </section>

    <section id="form">
        <form id="entry-form">
            <div class="form-location">
                <label for="location">My trip to: </label>
                <input type="text" id="location" name="location" placeholder="enter location" required>
            </div>

            <div class="form-date">
                <label for="date">Departing: </label>
                <input type="date" id="date" name="deperture-date" value="yyyy-MM-dd" required>
            </div>
            <button type="submit" id="form-submit" name value="Save your trip!">Save your trip</button>
        </form>
    </section>

    <div class="my-trips">
        <h2>My Trips: </h2>
    </div>

    <section id="entry">
        <div class="entry-container">
            <div class="entry-img">
                <!-- <img src="../media/img01.png" alt="img"> -->
            </div>
            <div class="entry-text">
                <div class="title-entry">

                    <div class="place">
                        <!-- <p>My trip to: </p>
                        <p>Paris</p> -->
                    </div>

                    <div class="date">
                        <p>Departing: </p>
                    </div>
                </div>

                <!-- <div class="flight">
                    <div class="title-entry-two">flight info:
                    </div>
                    <div class="flight info">
                        <p>HND 03:00PM
                            <br>Flight707 AAA AIR</p>
                        <p>HND 03:00PM
                            <br>Flight707 AAA AIR</p>
                    </div>
                </div> -->

                <div class="infomation">
                    <div class="location"></div> 
                    <p> is</p>
                    <div id="count-days"></div>
                    <p> days away</p>
                </div>

                <div class="weather">
                    <div class="title-entry-two">Typical weather for then is: </div>
                        <div class="forecast"></div>
                        <div class="max_temp"></div>
                        <div class="low_temp"></div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <a href="#title">To top</a>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
    <script type="text/javascript" src="main.js"></script>

</body>

</html>