@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-stack: 'Montserrat', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$textcolor: #333;
$fontsize: 1em;

.row-h1 {
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    padding-left: 30px;
}

.card-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font-family-monospace;
    border-radius: none;
    border-top: 3px solid $textcolor;
    border-bottom: 1px solid $textcolor;
    padding: 2rem 30px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
}

@media (min-width:600px) {
    .row-h1 {
        display: flex;
        flex-direction: row;
        font-size: 2.2em;
        padding-left: 30px;
    }

    .card-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: $font-family-monospace;
        border-radius: none;
        border-top: 3px solid $textcolor;
        border-bottom: 1px solid $textcolor;
        padding: 2rem 30px;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width:45%;
        text-align: left;
    }
}

.card-img-top{
    width: 100%;
    height: auto;
    border-bottom: 15px solid transparent;
}

p{
    font-family: $font-stack;
    font-size: 1em;
    text-align: left;
}

.card {
    font-family: $font-stack;
    width: 100%;
    border:0;
    margin: 0 ;
    background-color: #f1f1f1;
}

h5{
    font-family: $font-stack;
    display: inline-block;
    vertical-align: middle;
}

.card-body {
    width:40%;
    padding: 0;
    border-radius: none;
    border: 15px solid transparent;
}