@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-stack: 'Montserrat', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$textcolor: #333;
$fontsize: 1em;
$borderstyle: 2px solid rgb(206, 206, 206);
$main: #f7f3e9;
$enable-responsive-font-sizes: true;
$primary: #fff;
$grey: #cdcdcd;
$secondary: #d21d1d;

%reset {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

%transition {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

a{
    color: $textcolor;
}

.p-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

#entry-form {
    display: block;
    justify-content: center;
    padding: 10px 10px;
    border-bottom: 1px solid $textcolor;
}

.row-bw {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 0px;
}

.form-date,
.form-location {
    text-align: center;
}

.form-submit {
    width: 10em;
    margin-top: 20px;
    background-color: #fff;
    -webkit-appearance : none;
}
.form-submit:hover {
    text-decoration: underline 2px solid blue;
}


button{
    color: $textcolor;
    font-size: 1em;
    border: 0;
    border-radius: 0;
    padding: 0.2em 0.8em 0.2em 0.8em ;
    -webkit-appearance : none;
}



/* input */
label {
    margin-right: 10px;
}

input[type=text],
input#date {
    border: none;
    border-bottom: 2px solid red;
    background-color: #fff;
}

input#location {
    color: $textcolor;
    margin-bottom: 10px;
    width: 170px;
    background-color: #fff;
}

@media (min-width:600px) {

    .p-4{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        padding: 15px;
    }

    #entry-form {
        display: block;
        justify-content: center;
        padding: 20px 10px;
        border-bottom: 1px solid $textcolor;
    }

    .row-bw {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5em;
        padding: 0px;
    }

    input#location {
        color: $textcolor;
        margin-bottom: 10px;
        width: 200px;
    }

    .row-bw {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.5em;
        padding: 0px 30px;
    }
}


.center {
    text-align: center;
}


/*ToDol list STYLES*/
.tasker {
    max-width: 400px;
    margin: 10px 0px;
    .error {
        display: none;
        text-decoration: underline 2px rgba(237, 28, 36, 0.7);
        color: red;
        padding: 14px;
        margin-bottom: 10px;
        border-radius: 5px;
        text-align: left;
    }

    ul {
        @extend %reset;
        
        li{
            list-style: none;
            border-bottom: 1px dotted $textcolor;
        }
    }

    li,
    .error,
    button,
    input {
        @extend %reset;
        font: 18px/1.25em $font-family-monospace;
    }
    
}

.tasker-header {
    display: inline-flex;
    background: $primary;
    justify-content: space-between;
    width: 100%;
    input,
    button {
        box-sizing: border-box;
        font-size: 1em;
        padding: 5px 10px;
    }

    input {
        color: rgb(70, 70, 70);
        flex-grow: 2;
    }

    button {
        @extend %transition;
        color: #fff;
        background: $secondary;
        border-left: 1px solid ($secondary * 1.05);
        &:hover {
            background: $secondary * 1.1;
        }
    }
}

.tasker-body {
    .task {
        display: block;
        position: relative;
        padding: 5px 40px 5px 14px;
        border-bottom: 1px dotted $textcolor;
        &:last-child {
            border-bottom: none;
        }

        &:hover > button {
            opacity: 1;
        }

        &.completed {
            color: $grey;
            text-decoration: line-through;
        }

        input {
            margin-right: 10px;
        }

        button {
            @extend %transition;
            color: $grey;
            margin: 14px;
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            &:hover {
                color: #ed1c24;
            }
        }
    }
}