
$font-stack: 'Open Sans', sans-serif;
$font-family-sansserif: 'Open Sans', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$textcolor: #333;
$fontsize: 16px;
$borderstyle: 2px solid rgb(206, 206, 206);
$h2: 700;
$h3: 600;




.p-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
}
.form-location,
.form-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
}



.location,
.date{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    color: $textcolor;
}


.title-form{
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 1.5em;
    margin-right: 20px
}


/* put Hover state later*/

button#form-submit:hover{
    border: 2px solid #333;
}
