
$font-stack: 'Open Sans', sans-serif;
$font-family-sansserif: 'Open Sans', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$textcolor: #333;
$fontsize: 1em;
$borderstyle: 2px solid rgb(206, 206, 206);
$main: #f7f3e9;
$h2: 700;
$h3: 600;
$enable-responsive-font-sizes: true;

/* Header */
.navbar {
    
    padding: 20px;
    background-color: $main;
}

.pos-f-t {
    border-bottom: 1px solid $textcolor;
}

a.navbar-brand {
    font-size: 1.4em;
    color: $textcolor;
}

/* humbargar icon */
.navbar-toggler{
    width: 47px;
    height: 34px;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: $textcolor;
    margin-bottom: 4px;
}
