@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-stack: 'Montserrat', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$textcolor: #333;
$fontsize: 1em;
$main: #f7f3e9;
$enable-responsive-font-sizes: true;

/* Header */
.navbar {
    padding: 10px 30px 10px 30px;
}

.pos-f-t {
    border-bottom: 1px solid $textcolor;
}

a.navbar-brand {
    font-size: 1.2em;
    color: $textcolor;
}

/* humbargar icon */
.navbar-toggler{
    width: 47px;
    height: 34px;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: $textcolor;
    margin-bottom: 4px;
}
