$font-stack: 'Avenir','Helvetica Neue', sans-serif;
$textcolor: #333;
$fontsize: 1em;
$borderstyle: 2px solid rgb(206, 206, 206);
$yellow: #ffd700;
$green: rgb(60, 97, 72);
$h2: 700;
$h3: 600;

body{
    width: 100%;
    font-family: $font-stack;
    display: grid;
    grid-template-columns: 30px repeat(2, 1fr) 30px;
    grid-template-rows: 0.1fr 0.4fr 0.1fr 1fr 0.2fr;
    justify-content: center;
    color: $textcolor;
    margin: 0;
    padding: 0;
}

/* Header */
header{
    grid-area:  1 / 1 / 2 / 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main */
section{
    display: flex;
}

#form{
    grid-area: 2 / 1 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 97, 72);
}

// .my-trips{
//     grid-area: 3 / 2 / 4 / 3;
//     text-align: left;
//     font-weight: $h2;
// }

#entry{
    grid-area: 4 / 2 / 5 / 4;
    margin-bottom: 10px;
}
.entry-img{
    margin-right: 5%;
    margin-bottom: 5%;
}

.entry-text{
    grid-area: 5 / 2 / 6 / 3; 
}

button{
    color: $textcolor;
    background-color: $yellow;
    height: 1.8em;
    font-size: 1.2em;
    font-weight: $h3;
    border: none;
    border-radius: 2em;
    padding: 0 0.8em 0 0.8em ;
}

footer{
    grid-area: 5 / 1 / 6 / 5;
    display: block;
    text-align: center;
    background-color: $green;
}