@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-stack: 'Montserrat', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$textcolor: #333;
$fontsize: 1em;
$main: #f1f1f1;
$enable-responsive-font-sizes: true;


body{
    width: 100%;
    display: grid;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: 100px 130px 1fr 0.5fr;
    justify-content: center;
    font-family: $font-stack;
    color: $textcolor;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
	margin-top: 1rem;
}

header{
    grid-area: 1 / 1 / 2 / 4;
}

#entry{
    grid-area: 3 / 1 / 4 / 4;
}

footer{
    grid-area: 4 / 1 / 5 / 4;
    display: block;
    text-align: center;
}

@media (min-width:600px) {
    body{
        width: 100%;
        display: grid;
        grid-template-columns: 30px 1fr 30px;
        grid-template-rows: 100px 120px 1fr 0.5fr;
    }

    header{
        grid-area: 1 / 1 / 2 / 4;
    }
    
    #entry{
        grid-area: 3 / 1 / 4 / 4;
    }

    footer{
        grid-area: 4 / 1 / 5 / 4;
    }
}