body{
    display: grid;
    grid-template-columns: 30px repeat(2, 1fr) 30px;
    grid-template-rows: 0.2fr 1fr 0.3fr 0.1fr 1fr 0.3fr;
    justify-content: center;
    color: #333;
}

/* Header */
header{
    grid-area:  1 / 1 / 2 / 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(206, 206, 206);

}
.title{
    font-family: 'Futura', sans-serif;
    font-size: 2.6em;
    font-weight: 600;
    margin-left: 30px;
}

/* Main */
section{
    background-color: white;
    font-family: 'Avenir','Helvetica Neue', sans-serif;
    display: flex;
}
#top-illust{
    grid-area: 2 / 2 / 3 / 4;
    background-image: url(../media/img01.png);

}

#form{
    grid-area:  3 / 1 / 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffd700;

}
.desitination{
    float: left;
}
.my-trips{
    grid-area: 4 / 1 / 5 / 5;
    text-align: center;
    font-weight: 700;
    /* background-color: darkslategray; */

}

.form{
    display: inline-block;
    vertical-align: middle;
    text-align: right;

}

#entry{
    grid-area: 5 / 2 / 6 / 4;
    padding-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgb(206, 206, 206);

}

.entry-img{
    grid-area: 5 / 2 / 6 / 3;

}

.a,
.b,
.c,
.d,
.e,
.f{
    display: flex;
}


.entry-text{
    grid-area: 5 / 3 / 6 / 4; 
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding-left: 30px;
}

.place{
    display: flex;
    text-align: right;
}

.app-title{
    font-size: 1.6em;
    font-weight: 700;
}

label{
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 1.5em;
}

input{
    display: inline-block;
    height: 1.3em;
    width: 15em;
    font-size: 1em;
    border: none;
    background-color: white;
    margin-right: 30px;
}

button{
    width: 7em;
    height: 2em;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 20px;
    border: none;
}

button#add-trip{
    background-color: #ffd700;
    color: #333;
    margin-right: 30px;
}

button#generate{
    border: 3px solid #333;
    background-color: #ffd700;
}
/* put Hover state later*/

/* Footer */
footer{
    grid-area: 6 / 1 / 7 / 5;
    display: block;
    text-align: center;
    background-color: darkslategray;
}